.hero-section {
    height: 100vh;
    margin: auto 2rem;
    font-family: 'Roboto', sans-serif;
    
}

.hero-section span {
    color: #23B5D3;
    
}

.hero-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100% 100%;
    grid-template-areas: "hero button"
                         "sub .";
    position: relative;
}

.hero-text-box {
    grid-area: hero;
    font-size: 48px;
    display: flex;
    flex-direction: column;
}

.hero-btn-section {
    grid-area: button;
    position: absolute;
    top: 50%;
    left: 25%;
}

.hero-btn {
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    background-color: transparent;
    border: 1px solid #23B5D3;
    color: #071013;
    display: block;
    font-family: 'Lora', serif;
    font-size: 18px;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: #23B5D3;
    color: white;
}

.sub-hero-container {
    grid-area: sub;
}

@media only screen and (max-device-width: 43rem) {
    .hero-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100%;
        grid-template-areas: "hero"
                             "sub"
                             "button";
        position: relative;
    }

    .hero-btn-section {
        grid-area: button;
        position: absolute;
        top: 8rem;
        left: 3rem;
    }

    .sub-hero-container {
        grid-area: sub;
        position: absolute;
        top: 2rem;

    }
}